



<ion-grid [fixed]="true">
<ion-col></ion-col>
  
<ion-col>


<ion-content [fullscreen]="true">
  <ion-icon size="large" name="arrow-back-circle-outline" (click)="goToLogin()"></ion-icon>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="center">
    <form action="" class="formulario" [formGroup]="NombreForm">
    <h1>Registro</h1>
    <div class="container2 aaaa" >

    <ion-item [class.slide-animation]="slideAnimationActive" [class.invalid]="usuarioInput.invalid && usuarioInput.touched">
      <ion-label color="#82fad2b6;" position="floating">Ingrese Correo</ion-label>
      <ion-input  #usuarioInput="ngModel" minlength="3" maxlength="20" required
                  [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}" name="usuario" color="#82fad2b6;" type="email"></ion-input>
    </ion-item>

    <ion-item [class.slide-animation]="slideAnimationActive" [class.invalid]="passwordInput.invalid && passwordInput.touched">
      <ion-input class="telefono" #telefonoInput="ngModel" label="+56" placeholder="Ingrese Número Telefónico" minlength="8" maxlength="9"  required
                  [(ngModel)]="telefono" [ngModelOptions]="{standalone: true}" name="telefono" color="#7ED957"></ion-input>
    </ion-item>
    <ion-item [class.slide-animation]="slideAnimationActive" [class.invalid]="passwordInput.invalid && passwordInput.touched">
      <ion-label color="#82fad2b6;" position="floating">Ingrese Contraseña</ion-label>
      <ion-input  #passwordInput="ngModel" minlength="4" maxlength="4"  required
                  [(ngModel)]="password" [ngModelOptions]="{standalone: true}" name="password" color="#82fad2b6;" type="password"></ion-input>
    </ion-item>



    <ion-item [class.slide-animation]="slideAnimationActive" [class.invalid]="passwordInput.invalid && passwordInput.touched">
      <ion-label color="#C9C9C9;" position="floating">Repita Contraseña</ion-label>
      <ion-input  #CContrasenaInput="ngModel" minlength="4" maxlength="4" required 
                 [(ngModel)]="CContrasena" [ngModelOptions]="{standalone: true}" name="CContrasena" color="#C9C9C9;" type="password"></ion-input>
    </ion-item>


    <div class="bflex">
      
      <ion-button class="botonesR" expand="block" fill="clear" (click)="register()">Registrarse</ion-button>
    </div>
  </div>
</form>
  </div>    
  </div>
</ion-content>
</ion-col>
<ion-col></ion-col>

</ion-grid>

