
<ion-content [fullscreen]="true">
  <div class="absolute">

  <img src="assets/icon/grupo.png " style="width: 100%;">
</div>
  
<div class="container">
  <ion-button shape="round" color="dark" >
    <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-google-icon-logo-png-transparent-svg-vector-bie-supply-14.png" alt="">
    Iniciar con Google
  </ion-button>
</div>
<div class="container">
  <ion-button shape="round" color="light" (click)="register()">
    Registrarse  
  </ion-button>
</div>
<div class="container">
  <ion-button fill="clear" color="dark" (click)="goToLogin()">Ya tienes cuenta?</ion-button>
</div>
  
  
  
</ion-content>
